{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block header %}
<title>FLIXLIST - Add People</title>
{% endblock %}


{% block content %}


<form action="{{ url_for('flixlist.addpeople') }}" class="p-4" method="post" id="people_form" novalidate>
    <div class="form-group">
        <label for="newpeople">
            <h2>Add new person:</h2>
        </label>
        {{ peopleForm.csrf_token }}
        <div class="error_msg alert alert-danger" role="alert" id="error-csrf_token"></div>

        {{ macros.render_field(peopleForm.firstName) }}
        <div class="error_msg" id="error-firstName"></div>
        {{ macros.render_field(peopleForm.lastName) }}
        <div class="error_msg" id="error-lastName"></div>
        {{ macros.render_field(peopleForm.bday) }}
        <div class="error_msg" id="error-bday"></div>
        {{ macros.render_field(peopleForm.upload) }}
        <div class="error_msg" id="error-upload"></div>

        <br>

        {{ peopleForm.submit(class='mt-4 mx-auto btn btn-secondary', value='Add People') }}

    </div>
    <input type=hidden value="{{ next or '' }}" name=next>
</form>
{%endblock%}

{% block js_file %}
"{{ url_for('static', filename='js/addpeople.js') }}"
{% endblock %}