{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block footercss %}
pointer-events: auto
{% endblock %}


{% block header %}
<title>FLIXLIST - Search for media</title>
{% endblock %}


{% block link_searchmedia %}
<a class="nav-link active" aria-current="page" href="{{ url_for('flixlist.searchbar') }}">Search for media</a>
{% endblock %}


{% block content %}

<legend>Search a new media</legend>
<div class="input-group">
    <input id="myInput" type="search" class="form-control rounded" placeholder="Search new media..." aria-label="Search"
        aria-describedby="search-addon" check_url="{{ url_for('flixlist.get_blog_current') }}">
</div>
<br>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Poster</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Duration</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody id='media-table'>
        {% if current_user.is_authenticated %}
        {% for media in medias %}
        {{ macros.media_row_auth(media,pictures) }}
        {% endfor %}
        {% else %}
        {% for media in medias %}
        {{ macros.media_row_anon(media,pictures) }}
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}


{%block footer%}
<div class="text-center p-3 clickablefooter">
    Didn't find what you were looking for? Just add it yourself!
    <a type="button" class="btn btn-outline-danger" href="{{ url_for('flixlist.addmedia') }}">Here</a>
</div>
{% endblock %}


{% block js_file %}
"{{ url_for('static', filename='js/search.js') }}"
{% endblock %}